@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");

.nav-link {
  color: var(--Black, #253d4e);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-link:hover {
  color: #509e2f;
}

.carousel-container {
  margin-top: 1rem;
}

.buttons-container {
  margin-top: 2rem;
}

.cards-container {
  margin-top: 2rem;
}

.btn-lg {
  display: flex;
  width: 236.8px;
  height: 86px;
  padding: 30px 29px 30px 29px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 127%; /* 20.32px */
}

.btn-red {
  border-radius: 10px;
  background: #f6784c;
  border: #f6784c;
}

.btn-green {
  border-radius: 10px;
  background: #c4d600;
  border: #c4d600;
}

.btn-orange {
  border-radius: 10px;
  background: #eaaa00;
  border: #eaaa00;
}

.btn-darkorange {
  border-radius: 10px;
  background: #ed8b00;
  border: #ed8b00;
}

.btn-lightgreen {
  border-radius: 10px;
  background: #84bd00;
  border: #84bd00;
}

.buttons-container h2 {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 66.667% */
  margin-bottom: 2rem;
}

.card-paragraph {
  color: #252525;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  margin: 0;
}

.row-card {
  margin-top: 2rem;
}

.timer-text {
  color: #dc582a;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 136.523%; /* 27.305px */
  margin: 0;
}

.like-section {
  float: right;
}

.comment-section {
  float: right;
  margin-right: 0.5rem;
}

.card-img-top {
  width: 100%;
  height: 150px;
}

.button-section {
  margin: 6rem auto;
}

.btn-loadmore {
  display: flex;
  margin: auto;
  display: flex;
  width: 400px;
  padding: 13px 0px 12px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #509e2f;
  border: #509e2f;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btn-link {
  text-decoration: none;
}

/* RESPONSIVE WEB DESIGN */

/* DESKTOP SMALLER SCREEN */
@media (max-width: 1400px) {
  .btn-lg {
    width: 200px;
    height: 66px;
    font-size: 14px;
  }
  .card {
    width: 12rem !important;
    height: 12rem !important;
  }
  .card-img-top {
    width: 100%;
    height: 120px;
  }
  /*.comment-section {
    position: relative;
    top: -10px;
  }
  .like-section {
    position: relative;
    top: -10px;
  }*/
}

@media (max-width: 1200px) {
  .btn-lg {
    width: 160px;
    height: 26px;
    font-size: 14px;
  }
  .card {
    width: 10rem !important;
    height: 10rem !important;
  }
  .card-img-top {
    width: 100%;
    height: 100px;
  }
  .comment-section {
    position: relative;
    top: -5px;
    left: 10px;
  }
  .comment-section img {
    width: 16px;
    height: 16px;
  }
  .like-section {
    position: relative;
    top: -5px;
    left: 10px;
  }
  .like-section img {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 991.8px) {
  .btn-lg {
    width: 120px;
    height: 26px;
    font-size: 12px;
  }
  .card {
    width: 7rem !important;
    height: 7rem !important;
  }
  .card-img-top {
    width: 100%;
    height: 80px;
  }
  .timer-text {
    font-size: 10px;
  }
  .card-paragraph {
    font-size: 10px !important;
  }
  .comment-section {
    position: relative;
    top: -10px;
    right: 20px;
  }
  .comment-section img {
    width: 12px;
    height: 12px;
  }
  .like-section {
    position: relative;
    top: -10px;
    right: 30px;
  }
  .like-section img {
    width: 12px;
    height: 12px;
  }
  .card-body {
    padding: 0.2rem 0.2rem;
  }
}
@media (max-width: 767.8px) {
  .btn-lg {
    width: 80px;
    height: 80px;
    font-size: 12px;
  }
  .buttons-container .col {
    margin-right: -2rem;
  }
  .card {
    width: 16rem !important;
    height: 16rem !important;
  }
  .card-img-top {
    width: 100%;
    height: 150px;
  }
  .timer-text {
    font-size: 14px;
  }
  .card-paragraph {
    font-size: 14px !important;
  }
  .comment-section {
    position: relative;
    top: 0;
    left: 0;
  }
  .comment-section img {
    width: 22px;
    height: 22px;
  }
  .like-section {
    position: relative;
    top: 0;
    left: 0;
  }
  .like-section img {
    width: 22px;
    height: 22px;
  }
  .card-body {
    padding: 1rem 1rem;
  }
  .cards-container .col-card {
    margin: 0.5rem auto;
  }
}

@media (max-width: 480px) {
  .btn-lg {
    width: 20px;
    height: 60px;
    font-size: 12px;
  }
  .cards-container .col-card {
    margin-top: 0.5rem;
    margin-left: 2rem;
  }
}
