@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");

.nav-link {
  color: var(--Black, #253d4e);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-link:hover {
  color: #509e2f;
}

.recipes-container {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.recipes-img {
  width: 20%;
  height: auto;
}

/* -------- ----------- */

.cont_modal {
  position: relative;
  max-width: 100%;
  max-height: 400px;
}

.cont_photo {
  position: relative;
  width: 300px;
  height: 440px;
  overflow: hidden;
  background-color: #eee;
  border-radius: 5px;
  top: -20px;
  float: left;
  z-index: 2;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition: all 0.5s;
  box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.5);
}

.cont_img_back {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}
.cont_img_back > img {
  height: 100%;
  width: auto;
  opacity: 0.8;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition: all 1s;
}

.cont_img_back:hover > img {
  transform: scale(1.5);
}

.cont_text_ingredients {
  position: absolute;
  width: 75%;
  top: 0px;
  margin-left: 10px;
  height: 400px;
  float: left;
  border-radius: 5px;
  left: 285px;
  z-index: 1;
  box-shadow: 15px 20px 70px -5px rgba(0, 0, 0, 0.2);

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbf9f9+28,e8eaed+100 */
  background: rgb(251, 249, 249); /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    rgba(251, 249, 249, 1) 28%,
    rgba(232, 234, 237, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(251, 249, 249, 1) 28%,
    rgba(232, 234, 237, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(251, 249, 249, 1) 28%,
    rgba(232, 234, 237, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.cont_icon_right {
  position: relative;
  float: right;
  margin-top: 16px;
}
.cont_icon_right > a {
  margin: 16px;
  margin-top: 16px;
  color: #fff;
}

/* ---------------- Css Tabs -------- */

.cont_tabs {
  position: relative;
  margin-left: 50px;
  margin-top: 10px;
  float: left;
  width: 100%;
  height: 60px;
  border-bottom: 3px solid #ededec;
}

.cont_title_preparation {
  position: relative;
  float: left;
  margin: 10px 0px;
  width: 100%;
}
.cont_title_preparation > p {
  font-weight: 700;
  font-size: 14px;
  margin-left: 40px;
  text-align: left;
  color: #36354e;
}

.cont_info_preparation {
  position: relative;
  float: left;
  width: 100%;
}
.cont_info_preparation > p {
  margin: 0px 0px;
  margin-left: 50px;
  border-left: 2px solid #e3e3e3;
  font-size: 12px;
  padding: 20px 0px;
  padding-left: 20px;
  text-align: left;
  padding-right: 15px;
  color: #565656;
}

.cont_title_preparation > h5 {
  margin-left: 50px;
}
.cont_btn_mas_dets {
  position: absolute;
  bottom: 0px;
  left: 50%;
}
.cont_btn_mas_dets > a {
  color: #36354e;
}

.cont_over_hidden {
  position: relative;
  float: left;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.cont_text_det_preparation {
  position: relative;
  width: 100%;
}

.row {
  margin-top: 4rem;
}

.col {
  margin-top: 1rem;
}
