{% extends "layout.html" %} {% block style%}
<link href="/static/css/account.css" rel="stylesheet" />
{% endblock %} {% block title %} Account {% endblock %} {% block main%}
<div class="container recipes-container">
  <h4>Shared recipes</h4>
  {% for recipe in recipes %}
  <div class="row">
    <div class="cont_modal">
      <div class="cont_photo">
        <div class="cont_img_back">
          <img src="/static/uploads/{{recipe['image']}}" alt="" />
        </div>

        <div class="cont_icon_right">
          <a href="#"> <i class="material-icons">&#xE8E7;</i></a>
        </div>
      </div>
      <div class="cont_text_ingredients">
        <div class="cont_over_hidden">
          <div class="cont_tabs">
            <h4>{{recipe['title']}}</h4>
          </div>

          <div class="cont_text_det_preparation">
            <div class="cont_title_preparation">
              <h5>Ingredients</h5>
            </div>
            <div class="cont_info_preparation">
              <p>{{recipe['ingredients']}}</p>
            </div>
            <div class="cont_title_preparation">
              <h5>Preparation</h5>
            </div>
            <div class="cont_info_preparation">
              <p>{{recipe['recipe']}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="container meal-container">
  <h4>Shared tips</h4>
  {% for tip in tips %}
  <div class="row row-tips">
    <div class="cont_tips">
      <h4>{{tip['title']}}</h4>
      <p>{{tip['post']}}</p>
    </div>
  </div>
  {% endfor %}
</div>

<div class="container button-container">
  <form action="/logout">
    <button
      type="submit"
      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
    >
      Log out
    </button>
  </form>
</div>

{% endblock %}
